*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 3px solid red; */
    height: 110vh;
}
.container1{
    /* border: 3px solid rgb(9, 9, 9); */
    background-color: white;
    height: 10vh;
    position: fixed;
    top:0;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
    .logotipo{
        /* border: 3px solid rgb(219, 222, 56); */
        width: 40%;
        height: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:flex-end;  
       
    }
    .menu{
        /* border: 3px solid maroon; */
        width: 60%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
    }
    .menu a{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-decoration: none;
        padding: 12px 10px;
        display:block;
    }
    ul, ol{
        list-style: none;
    }
    .menu li ul {
        display: none;
        position: absolute;
        min-width: 140px;
    }
    .menu li:hover > ul{
        display: block;
    }
    .menu li a:hover{
        background-color: rgb(199, 93, 27);
    }
.containerAmerica{
    /* border: 3px solid red; */
    height: 100vh;
    background-color: rgba(141, 93, 6, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    .containercajas{
        /* border: 3px solid black; */
        height: 85vh;
        margin: 0% 1%;
    }
        .fotos{
            /* border: 3px solid rgb(226, 43, 43); */
            height: 85vh;
            color:white;

            display: flex;
        }
            .cajasDefotos{
                /* border: 3px solid rgb(92, 226, 43); */
                width: 100vh;
                height: 100%;
                margin-right: 1%;

                display: flex;
                flex-direction: column;
                
            }
                .aaafotos{
                    /* border: 3px solid rgb(105, 97, 179); */
                    width: 100vh;
                    height: 50%;

                    display: flex;
                    justify-content: center;
                
                }
                    .fotoA{
                        /* border:3px solid rgb(235, 239, 39); */
                        width: 40%;
                        height: 100%; 
                        background-image: url(./FRANCIA.jpeg);
                        background-size: cover;
                        background-repeat: no-repeat;
                         
                    }
                    .fotoB{
                        /* border:3px solid rgb(235, 239, 39); */
                        width: 30%;
                        height: 100%;  
                        background-image: url(./italia.jpeg);
                        background-size: cover;
                        background-repeat: no-repeat;  
                    }
                    .fotoC{
                        /* border:3px solid rgb(235, 239, 39); */
                        width: 30%;
                        height: 100%; 
                        background-image: url(./MADRID.jpeg);
                        background-size: cover; 
                        background-repeat: no-repeat;
                    }

                .aafotos{
                    /* border: 3px solid rgb(17, 9, 88); */
                    width: 100vh;
                    height: 50%;

                    display: flex;
                }
                    .foto1{
                        /* border:3px solid red; */
                        width: 30%;
                        height: 100%;

                        background-image: url(./portugal.jpeg);
                        background-size: cover; 
                        background-repeat: no-repeat;
                    }
                    .foto2{
                        /* border: 3px solid blue; */
                        width: 70%;
                        height: 100%;
                        background-image: url(./albania.jpeg);
                        background-size: cover; 
                        background-repeat: no-repeat;
                    }
                .afoto{
                    /* border: 3px solid rgb(17, 9, 88); */
                    width: 100vh;
                    height: 100%;
                    background-image: url(./bulgaria.jpeg);
                    background-size: cover; 
                    background-repeat: no-repeat;
                    
                }
            .fotos div{
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-shadow: 50px;
            }
.containerDestino{
    /* border: 3px solid black; */
    height: 100vh;
    background-color: rgba(141, 93, 6, 0.5);
}
    .tituloAmerica{
        /* border: 3px solid rgb(193, 66, 66); */
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
      
    }
    .textoAmerica{
        /* border: 3px solid rgb(135, 227, 133); */
        height: 85vh;
    }
        .block1{
            /* border: 3px solid rgb(179, 76, 138); */
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content:center;
            font-size: 20px;
            text-align: center;
        }
        .block2{
            /* border: 3px solid rgb(179, 76, 138); */
            height: 75vh;

            display: flex;
        }
            .texto1{
                /* border: 3px solid rgb(179, 76, 138); */
                width: 950px;
                height: 75vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                margin-right: 20px;
            }
            .texto2{
                /* border: 3px solid rgb(179, 76, 138); */
                width: 950px;
                height: 75vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 25px;
            }