*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 3px solid red; */
    height: 100vh;
}
.container1{
    /* border: 3px solid rgb(9, 9, 9); */
    background-color: white;
    height: 10vh;
    position: fixed;
    top:0;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
    .logotipo{
        /* border: 3px solid rgb(219, 222, 56); */
        width: 40%;
        height: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:flex-end;  
       
    }
    .menu{
        /* border: 3px solid maroon; */
        width: 60%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
    }
    .menu a{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-decoration: none;
        padding: 12px 10px;
        display:block;
    }
    ul, ol{
        list-style: none;
    }
    .menu li ul {
        display: none;
        position: absolute;
        min-width: 140px;
    }
    .menu li:hover > ul{
        display: block;
    }
    .menu li a:hover{
        background-color: rgb(199, 93, 27);
    }
.contenido{
    /* border: 3px solid red; */
    height: 100vh;
    display: flex;
    

    background-image: url(./formulario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contenido{
    /* border: 3px solid rgb(95, 36, 36); */
    background-color: rgb(10, 93, 237);
    height: 92vh; 
}
 .contenido1{
    /* border: 3px solid rgb(222, 228, 227); */
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
  
}
.container2{
    /* border: 3px solid rgb(131, 182, 22); */
    width: 70%;
}
    .titulo{
        /* border: 3px solid rgb(181, 79, 79); */
        font-family:Georgia, 'Times New Roman', Times, serif;
        height: 15vh;
    }
    .subtitulo{
        /* border: 3px solid rgb(14, 173, 62); */
        height: 8vh;
    }
    form{
        /* border: 3px solid black; */
        height: 45vh;
        text-decoration: none;

        display: flex;
        flex-direction: column;
        justify-content: space-around;  
    }
    input{
        padding: 15px 15px;
        background-color: transparent;
        border-style: none none solid none;
        border-color: white;
        text-decoration: none;
        outline: none;
    }
    input::placeholder{
        color:white;
    }
    .terminosYcondiciones{
        /* border: 3px solid rgb(105, 17, 17); */
        height: 5vh;
    }
    .enviar{
        /* border: 3px solid rgb(237, 237, 10); */
        height: 5vh;
        background-color: rgba(244, 152, 5, 0.243);
        font-family: Georgia, 'Times New Roman', Times;       

        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        background: none;
        border: none;
        text-decoration: none;
        padding-left: 150px;
        color: white;
        font-size: 20px;
    
    }
    input{
        padding: 20px 50px;
        margin-bottom: 20px; 
        text-decoration: none;
        outline: none;
        font-size: 20px;
    }

    .filtro{
        /* border: 2px solid red; */
        width: 30vw;
        height: 78vh;
        margin-left: 100px;
        
    }
        .tarjeta{
            /* border: 1px solid rgb(5, 5, 5); */
            height: 10vh;
            color: white;
            font-size: 25px;
            background-color: rgba(9, 9, 9, 0.648);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
        }
        #resultado{
            /* border: 1px solid rgb(5, 5, 5); */
            background-color: rgba(9, 9, 9, 0.516);
            height: 68vh;
            color: white;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;
        }
#resultado p{
color:white;
font-size: 30px;
}

#resultado div {
    /* border: solid red 2px; */
    background-color: rgba(236, 139, 12, 0.523);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}