.cinta{
    border: 5px solid blueviolet;
    height: 100vh;
    width: 100%;
 background-color: black;
}
.formulario{
    /* border: yellow solid 10px; */
    height: 100vh;
    width: 100%;

    

    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
form{
    /* border: 3px solid greenyellow; */
    height: 100vh;
    width: 32%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
.formulario input{
    /* width: 400px;
    height: 60px; */
    padding: 0 15px;
    border-radius: 6px;
    font-size: 18px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
    
    

}

 label{ 
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-145%);
    color: white;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
    position: relative;
    

}
input:focus ~ label{
    top: -1.5%;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background-color: rgb(0, 0, 0);
    width: max-content;
   
}
 
input::placeholder{
    color:black;
}
.enviar{
    /* border: 3px solid rgb(237, 237, 10); */
    height: 5vh;
    background-color: #cf0e0e84;
          

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    background: none;
    border: none;
    text-decoration: none;
    /* padding-left: 150px; */
    color: white;
    font-size: 20px;

}
.texto{
    /* border: 2px solid blue; */
    width: 500px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 100px;
    color: white;
}
 .nuevaPeli{
    /* border: 2px solid white; */
    width: 500px;
    height: 100vh;
    margin-left: 100px;
    
}
   .tarjeta{
        /* border: 1px solid rgb(5, 5, 5); */
        height: 20vh;
        color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.253);
        font-size: 50px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    #movie-lista{
        /* border: 1px solid rgb(5, 5, 5); */
        background-color: #cf0e0e84;
        height: 80vh;
        color: white;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    @media screen and (max-width: 1050px) {
        div{
            display: flex;
           flex-wrap: wrap;
        }
    }
    
    @media screen and (max-width: 750px){
        .pagPrincipal{
            background-color: white;
         
        }
    }
    @media screen and (max-width: 1050px) {
        .formulario{
          
         display: flex;
         justify-content: center;
         align-items: center;
        }
    }
    @media screen and (max-width: 750px) {
        .formulario{
          
         display: flex;
         justify-content: center;
         align-items: center;
        }
    }
    
    @media screen and (max-width: 750px){
        .texto{
            display: none;
         
        }
    }
    @media screen and (max-width: 1050px){
        .nuevaPeli{
            width: 100%;
            height: 100%;
         
        }
    }

