*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 50vh;
    display: grid;
    grid-template-columns: 20% 10% 20%;
    grid-template-rows: 1fr 0.5fr;
    
}
.a{
    background-color: rgb(171, 255, 103);
    color: black;
    font-size:small;
    text-align: center;
}
.b{
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: small;
    text-align: center; 
}
.c{
    background-color:  rgb(171, 255, 103);
    color: black;
    font-size: small;
    text-align: center; 
}
.d{
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: small;
    text-align: center; 
}
.e{
    background-color:  rgb(171, 255, 103);
    color: black;
    font-size: small;
    text-align: center; 
}
.f{
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: small;
    text-align: center; 
}
