*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 3px solid red; */
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

header{
    background-color: black;
    color: white;
    font-size:xx-large; 
    text-align: center;
}
.medio{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
}
.azul{
    background-color: blue;
    display: grid;
    grid-template-rows: 30% 70%;
    gap: 10px;
    padding: 15px;
}
    .a{
        border:1px solid white;
        color: white;
        font-size:xx-large; 
    }
    .textos{
        display: grid;
        grid-template-columns: 80% 20%;
        gap: 5px;
    }
        .b{
            border:1px solid white;
            color: white;
            font-size:small; 
        }
        .c{
            border:1px solid white;
            color: white;
            font-size:small; 
        }
.verde{
    background-color: rgb(55, 219, 206);
    display: grid;
    grid-template-rows: 25%;
    gap: 10px;
    padding: 5px;

}
.menu{
    border: 1px solid black;
    color: white;
    font-size:xx-large;
    text-align: center;
}
.menu1{
    background-color: black;
    color: white;
    font-size:10px; 
    text-align: center;
}
.menu2{
    background-color: black;
    color: white;
    font-size:10px; 
    text-align: center;
}
.menu3{
    background-color: black;
    color: white;
    font-size:10px; 
    text-align: center;
}
.morado{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
    gap: 5px;
}
    .footer{
        border: 1px solid black;
        color: white;
        font-size:small;
        text-align: center;
    }
    .contacto{
        border: 1px solid black;
        color: white;
        font-size:small;
        text-align: center;
    }
